<form [formGroup]="Form" (ngSubmit)="handleSubmit()">
  <div class="input-field">
    <input type="text" id="email" [formControl]="Form.getControl('email')">
    <label class="active" for="email">{{ 'form.signIn.email' |translate }}</label>
  </div>
  <div class="input-field">
    <input type="password" id="password" [formControl]="Form.getControl('password')">
    <label class="active" for="password">{{ 'form.signIn.password' |translate }}</label>
  </div>
  <button>{{ 'form.signIn.submit' |translate }}</button>
</form>
