<table>
  <thead>
  <tr>
    <th>{{ 'dataTable.company.id' |translate }}</th>
    <th>{{ 'dataTable.company.name' |translate }}</th>
    <th>{{ 'dataTable.action' |translate }}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="loading$ |async; else datalist">
    <tr>
      <td colspan="3">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  <ng-template #datalist>
    <ng-container *ngIf="page$ |async as page">
      <tr *ngFor="let item of page.data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td style="display: flex; justify-content: space-around">
          <button class="btn orange small" (click)="handleDetails(item)">Details</button>
          <button class="btn red small" (click)="handleRemove(item)">Remove</button>
        </td>
      </tr>
    </ng-container>
  </ng-template>
  </tbody>
</table>
<ng-container *ngIf="page$ |async as page">
  <mat-pagination [(pageSize)]="Size" [total]="page.total" (page)="Page = $event"></mat-pagination>
</ng-container>
