<div matModal [options]="options" class="modal">
  <div class="modal-content">
    <h4>{{ modalOptions.title }}</h4>
    <form [formGroup]="Form" (ngSubmit)="handleSubmit()">
      <mat-input id="name" name="name" [label]=" 'form.company.name' |translate" [type]="type.text" [formControl]="Form.getControl('name')">
        <ng-container *ngIf="Form.getControl('name').errors as errors">
          <div *ngIf="errors['required']">Le nom est requis</div>
        </ng-container>
      </mat-input>
      <button class="btn green">Ajouter</button>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="close()"><i class="material-icons">close</i></button>
  </div>
</div>
