<div class="col s6">
  <company-list></company-list>
  <button class="btn green" (click)="openModal()"><i class="material-icons">add</i></button>
</div>
<div class="col s6">
  <router-outlet></router-outlet>
</div>
