<nav>
  <ul>
    <li routerLink="/" routerLinkActive="active"><a>Home</a></li>
    <li routerLink="./company" routerLinkActive="active"><a>Company</a></li>
  </ul>
  <ul class="right right-align">
    <li class="input-field">
      <select matSelect (mat-change)="changeLang($event)">
        <option value="fr">Francais</option>
        <option value="en">Englais</option>
      </select>
    </li>
  </ul>
</nav>
