<div class="flex" *ngIf="Pages.length > 1">
  <ul class="pagination">
    <li (click)="goToPrevious()">
      <a><i class="material-icons">chevron_left</i></a>
    </li>
    <li
      *ngFor="let page of Pages"
      [class.active]="page === CurrentPage"
      (click)="goToPage(page)"
    >
      <a>{{ page }}</a>
    </li>
    <li (click)="gotToNext()">
      <a><i class="material-icons">chevron_right</i></a>
    </li>
  </ul>
  <select matSelect (mat-change)="pageSizeEvent.emit($event)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>
</div>

