<div class="input-field">
  <input [id]="id" [name]="name" [type]="type" [disabled]="disabled" (touchend)="onTouchedFn($event)" (input)="handleInput($event.target)" [value]="value">
  <label [for]="id">{{ label }}</label>
  <div class="red-text">
    <ng-content></ng-content>
  </div>
</div>
